.button {
    border: 0;
    cursor: pointer;
    display: inline-flex;
    padding: 15px 20px 15px 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background: var(--Gray-200);

    color: var(--purple-800);
    font-family: Inter;
    font-size: 15px;
    line-height: 125%; /* 18.75px */
    letter-spacing: -0.45px;
}

.button:hover {
    background: var(--Green);
}

.button:disabled {
    cursor: default;
    background: var(--Gray-200);
    color: var(--Gray-500);
}

.text:hover {
    background: none;
}

.text {
    background: none;
    color: var(--Yellow, #fcf6b1);
    padding: 0;

    font-size: 18px;
    letter-spacing: -0.54px;

    justify-content: left;
}
