.header {
    height: 129;
    border-bottom: 1px solid var(--Gray-200);
    padding: 50px 70px 25px 50px;
    display: flex;
    justify-content: space-between;
}

.info {
    margin-top: 13px;
    color: var(--Gray-500);
    font-size: 12.5px;
    letter-spacing: -0.375px;
    height: 15px;
}

.info:empty {
    border-radius: 10px;
    width: 138px;

    background: var(--Gray-100);
}
