.imageCard {
    height: 200px;
    max-width: 335px;
    min-width: 150px;
    margin-top: 13px;
    position: relative;
    border-radius: 10px;
    background: lightgray 50% / cover no-repeat;
}

.image {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 5px;
    border-radius: 5px;
    background: var(--Yellow);

    color: var(--gray-900);
    text-align: right;
    font-family: Inter;
    font-size: 12.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 15.625px */
    letter-spacing: -0.375px;

    max-width: calc(100% - 30px);
    word-wrap: break-word;
}

.overlay {
    position: absolute;
    border-radius: inherit;
    visibility: hidden;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        0deg,
        rgba(57, 62, 70, 0.5) 0%,
        rgba(57, 62, 70, 0.5) 100%
    );
}

.uploading {
    visibility: visible;
    background: rgba(211, 211, 211, 0.5);
}

.uploadInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;

    color: var(--Gray-500, #929aab);
    text-align: center;

    font-family: Inter;
    font-size: 12.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 15.625px */
    letter-spacing: -0.375px;
}

.uploadTitle {
    color: var(--Gray-900, #393e46);
    text-align: center;

    font-family: Inter;
    font-size: 21.6px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 23.76px */
    letter-spacing: -0.648px;
}

.progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    opacity: 0.6;
    background: var(--Gray-200, #eee);
}

.imageCard:hover > .overlay {
    visibility: visible;
}

.buttons {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
