:root {
    --gray-100: #f7f7f7;
    --gray-500: #929aab;
    --purple-900: #2d1e2f;
    --gray-200: #eeeeee;
    --green: #a9e5bb;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), url("./fonts/Inter-Regular.ttf") format("truetype");
}
